html::-webkit-scrollbar {
    display: none;
}

.btn:hover{
    color: initial;
}

.carousel-caption p, .carousel-caption h5{
    width: fit-content;
}

.carousel-caption{
    padding: 15px;  
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

