
<div th:fragment="section" class="section" style="width:100%">
    <h2 th:text="${el.name}"></h2>
    <p th:text="${el.description}"></p>
    <div style="display: grid; grid-template-columns: 1fr 1fr 2fr 1fr; align-items: center; width: 100%">
        <div style="display: flex; flex-direction: row;">Начало:&nbsp<p th:text="${el.time}" style="margin: 0;"></p></div>
        <p th:text="${el.day}" style="margin: 0;"></p>
        <div style="display: flex; flex-direction: row;">Продолжительность:&nbsp<p th:text="${el.duration}" style="margin: 0;"></p>&nbspчас(а)</div>
        <form th:if="${logged}" id="addSeсtionToList" method="get">
            <input type="text" name="sectionId" th:value="${el.id}" style="display: none;">
            <button th:if="${!profile}" class="btn" type="submit" style="border: 1px solid white; color: white; width: fit-content; justify-self: end;">Записаться</button>
            <button th:if="${profile}" class="btn" type="submit" style="border: 1px solid white; color: white; width: fit-content; justify-self: end;">Удалить</button>
        </form>
    </div>
</div>

<div th:fragment="section-admin">
    <div class="section" style="display: grid; grid-template-columns: 12rem 1fr">
        <p>ID:</p>
        <p th:text="${el.id}"></p>
        <p>Название:</p>
        <p th:text="${el.name}"></p>
        <p>Описание:</p>
        <p th:text="${el.description}"></p>
        <p>Время:</p>
        <p th:text="${el.time}"></p>
        <p>Продолжительность:</p>
        <p th:text="${el.duration}"></p>
        <p>День недели:</p>
        <p th:text="${el.day}"></p>
    </div>
</div>